<!DOCTYPE html>
<html lang="cz" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>novypojistenec</title>
</head>
<body>
<h2>Nový pojištěnec</h2>
<form method="post">
  <label for="name">Jméno:</label><br/>
  <input type="text" id="name" name="name" size="22" placeholder="Zadejte jméno"/><br/>
  <label for="surname">Přijmení:</label><br/>
  <input type="text" id="surname" name="surname" size="22" placeholder="Zadejte příjmení"/><br/>
  <label for="age">Věk:</label><br/>
  <input type="text" id="age" name="age" size="22" placeholder="Zadejte počet plných let"/><br/>
  <input type="submit" formmethod="POST" value="Registrovat"/>
</form>

</body>
</html>