<!DOCTYPE html>
<html lang="cz">

<head>
    <meta charset="UTF-8">
    <title>novypojistenec</title>
</head>
<body>
<h2>Nový pojištěnec</h2>
<form method="post">
    <label for="name">Jméno:</label><br/>
    <input id="name" name="name" placeholder="Zadejte jméno" size="22" type="text"/><br/>
    <label for="surname">Přijmení:</label><br/>
    <input id="surname" name="surname" placeholder="Zadejte příjmení" size="22" type="text"/><br/>
    <label for="age">Věk:</label><br/>
    <input id="age" name="age" placeholder="Zadejte počet plných let" size="22" type="text"/><br/>
    <br/>

    <input formmethod="POST" type="submit" value="Registrovat"/>
</form>
<br>
<a href="/index">
    <button>
        Vrátit se na rozcestník
    </button>
</a>
</body>
</html>