<!DOCTYPE html>
<html lang="cz" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Seznam pojistencu</title>
</head>
<body>
<h1>Seznam pojištěnců</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Věk</th>
        <th>Pojištění</th>

    </tr>
    <tbody>
    <tr th:each="pojistenec : ${pojistenci}">
        <td th:text="${pojistenec.id}">2</td>
        <td th:text="${pojistenec.name}">Pavel</td>
        <td th:text="${pojistenec.surname}">Pospíšil</td>
        <td th:text="${pojistenec.age}">29</td>
        <td th:text="${pojistenec.getSmlouvyTypes}">
        <td>
            <a href="/novasmlouva">
                <button>
                    Sjednat smlouvu
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<a href="/novypojistenec">
    <button>
        Nový pojištěnec
    </button>
</a>
<br/><br/>
<a href="/">
    <button>
        Zpět
    </button>
</a>
</body>
</html>
