<!DOCTYPE html>
<html lang="cz" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="/>">
    <title>Seznam smluv</title>
</head>
<body>
<h1>Seznam smluv</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Datum uzávření</th>
        <th>Datum ukončení</th>
        <th>Typ pojištění</th>
    </tr>
    <tbody>
    <tr th:each="smlouva : ${smlouvy}">
        <td th:text="${smlouva.id}">5</td>
        <td th:text="${smlouva.dateOfConclusion}">5</td>
        <td th:text="${smlouva.dateOfExpiration}">5</td>
        <td th:text="${smlouva.type}">5</td>
    </tr>
    </tbody>
</table>
<br/><br/>
<a href="/">
    <button>
        Vrátit se na rozcestník
    </button>
</a>

</body>
</html>
