<!DOCTYPE html>
<html lang="cz" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="/>">
    <title>Seznam smluv</title>
</head>
<body>
<h1>Seznam smluv</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Datum uzávření smlouvy</th>
        <th>Datum uzávření smlouvy</th>
        <th>Datum ukončení smlouvy</th>
        <th>Pojištění</th>
    </tr>

    <tbody>
        <!--/*@thymesVar id="smlouvy" type="alincova"*/-->
        <tr th:each="smlouva : ${smlouvy}">
        <td th:text="${smlouva.id}">5</td>
        <td th:text="${smlouva.dateOfConclusion}">5</td>
        <td th:text="${smlouva.dateOfExpiration}">5</td>
        <td th:text="${smlouva.pojisteni.getPojisteniName()}">5</td>
    </tr>
    <br/><br/>
    <a href="/index">
        <button>
            Vrátit se na rozcestník
        </button>
    </a>
    </tbody>
</table>
</body>
</html>